<md-content layout-padding>
  <div>
    <form name="integer-spiral" class="integer-spiral">
      <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Input Number</label>
          <input class="number" ng-model="intSpiral.number"/>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Spin</label>
          <md-select class="spin" ng-model="intSpiral.spin">
            <md-option ng-repeat="state in intSpiral.states" value="{{state}}">
              {{state}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
      <div layout-gt-sm="row">
        <md-button class="md-raised md-primary submit" ng-click="intSpiral.submit()">Submit</md-button>
      </div>
      <div>
        <h2>OUTPUT</h2>
      </div>
      <br/>
      <div class="output" ng-show="intSpiral.showOutput">
        <table>
          <tbody>
          <tr ng-repeat="row in intSpiral.grid track by $index">
            <td ng-repeat="col in row track by $index">{{col}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <span class="error">{{intSpiral.errorMessage}}</span>
      </div>
    </form>
  </div>
</md-content>
